node_modules/
dist/
.env
.env.*
!.env.example
*.tsbuildinfo
.mcpregistry_*
scripts/
.vscode/
.claude/settings.json

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
package-lock.json
